//
// Header
//
// ==================================================

.header
  background rgba($gray-darker, .95)
  color #fff
  padding 0 $space-lg
  position absolute 0 0 auto
  z-index 10

  +above('sm')
    position fixed


.header-container
  align-items center
  height $header-height
  lost-flex-container row
  justify-content space-between
