//
// Navbar
//
// 1. Nav 
//
// ==================================================

.navbar
  +below('xs')
    order 3
    

  //
  // Button
  // ------------------------------------------------

  &--btn
    reset(form)
    visible(xs)
    cursor pointer
    display block
    fill currentColor

    .icon
      height $space-lg
      top .5rem
      width $space-lg

 
//
// 1. Nav
// ==================================================

.nav
  reset(list)

  +below('xs')
    border-bottom rgba($blue-light, .5) solid 2px
    background $gray-darker
    opacity 0
    position absolute 100% 0 auto
    transition opacity .3s
    visibility hidden


  //
  // Open
  // ------------------------------------------------

  &--open
    hidden(sr)

    +below('xs')
      &:checked ~ .nav
        opacity 100
        visibility visible

 
  //
  // Item
  // ------------------------------------------------

  &__item
    +above('sm')
      display inline-block

      &:not(:last-child)
        margin-right $space-lg

 
  //
  // Link
  // ------------------------------------------------

  &--link
    font(p2, bold, primary, lowercase)
    effect(hover, $blue-light)
    color #fff

    &:hover
    &:focus
      text-decoration none

    +below('xs')
      border-top rgba($blue-light, .15) solid 1px
      padding $space $space-md

      &:hover
      &:focus
        background $gray-dark
     
    &.active
      color $brand-primary



