//
// Thumbnail
//
// ==================================================

.thumbnail
  lost-center ($screen-sm + (40px * 2)) $space-lg no-flex

  +above('lg')
    lost-center $screen-lg no-flex


//
// List
// ==================================================

.thumbnail-list
  lost-flex-container row


//
// Item
// ==================================================

.thumbnail-item
  justify-content flex-end
  lost-flex-container column
  margin-bottom $space-xlg
  position relative

  +above('sm')
    lost-column 1/2 2 $space-xlg

  +above('lg')
    lost-column 2/6 3 $space-xlg



  // Types
  // ----------------------------------------------------

  .title
    font(h4, regular, secondary)
    margin-bottom $space

  p
    font(p1)

    +above('sm')
      min-height 9rem

  .picture
    border $line solid 1px
    display block
    margin-bottom $space

    img
      display block
      height 25vh
      object-fit cover
      width 100%

  .btn
    width 100%


