//
// Thumbnail
//
// ==================================================

.thumbnail
  lost-center ($screen-sm + (40px * 2)) $space-lg no-flex 

  +above('lg')
    lost-center $screen-lg no-flex

 
  // Types
  // ----------------------------------------------------

  &--title
    font(h4, regular, primary)
    margin-bottom $space


  &--text
    font(p1)

    +above('sm')
      min-height 9rem


  &--picture
    border $line solid 1px
    display block
    margin-bottom $space

    img
      display block
      height 25vh
      object-fit cover
      width 100%

  .btn
    width 100%
 

  //
  // List
  // ==================================================

  &__list
    lost-flex-container row


  //
  // Item
  // ==================================================

  &__item
    justify-content flex-end
    lost-flex-container column
    margin-bottom $space-xlg
    position relative

    +above('sm')
      lost-column 1/2 2 $space-xlg

    +above('lg')
      lost-column 2/6 3 $space-xlg
