//
// Brand
//
// ==================================================

.brand
  effect(hover, $blue-light)
  display inline-block
  position relative
  top .6rem
  width 12rem

  &:after
    margin-top 0

  svg
    fill $blue-light
