//
// Stylesheet
// --------------------------------------------------

// Core
// --------------------------------------------------

// Functions & Helpers
@import '_core/variables';  // Variables sets
@import '_core/functions';  // Functions configs
@import '_core/helpers';    // Helpers sets
@import '_core/typography'; // Typography sets

// Normalize  
@import '_core/normalize'; // Reset elements   
 

// Atoms
// --------------------------------------------------

@import 'atoms/_utilies';       // Utilies
@import 'atoms/scaffolding';    // Scaffolding  
@import 'atoms/types';          // Types
@import 'atoms/logo';           // Logo
@import 'atoms/translate';      // Translate
@import 'atoms/page-header';    // Page Header

 
// Molecules
// --------------------------------------------------

@import 'molecules/icons';          // Icons 
@import 'molecules/social-media' ;  // Social Media
@import 'molecules/share-block' ;   // Share Block


// Organisms
// --------------------------------------------------

@import 'organisms/navbar';     // .navbar
@import 'organisms/main';       // .main
@import 'organisms/container';  // .container


// Pages
// --------------------------------------------------

@import 'pages/home';     // .home
@import 'pages/blog';     // .blog
@import 'pages/projects'; // .projects