h2: a(href="/posts/hello-world") Hello World

p.lead Lorem ipsum Sunt occaecat exercitation quis voluptate tempor

p Lorem ipsum Sunt occaecat exercitation quis voluptate tempor non dolore tempor in dolore deserunt quis non laboris anim non consequat voluptate in sint officia sint mollit esse officia labore labore dolor in ea sed nulla aliqua tempor est velit dolor irure in culpa amet id ea tempor.

p: img.img-responsive(src="http://placekitten.com/g/500/300")

p Laborum ut aliqua eu fugiat sed laboris consectetur culpa anim deserunt eiusmod esse sunt commodo dolore ex amet irure ut tempor exercitation magna sit voluptate cupidatat adipisicing velit reprehenderit nostrud enim cupidatat id fugiat eu dolor laborum consectetur velit magna laboris incididunt nostrud sint exercitation id aliqua in Duis laboris cillum proident aliqua dolore et incididunt cillum in exercitation id veniam ex Ut dolore quis

blockquote
  p Ut adipisicing pariatur officia fugiat culpa cupidatat ullamco sint est commodo est proident ut nostrud consectetur labore anim sint dolor esse pariatur laborum dolor elit irure anim commodo dolore sunt exercitation anim
  small: a(href="#") dolor elit anim
