//-
//- 404
//- ==================================================

section.404
  .container

    .content

      h2 Ops! Something went wrong =/

      p The website address is correct?
      p Maybe it is best you #[a(href='/') return to the homepage].

      .codepen(data-height='600', data-theme-id='light', data-slug-hash='qzDCJ', data-default-tab='result', data-user='LFeh', data-embed-version='2') See the Pen #[a(href='http://codepen.io/LFeh/pen/qzDCJ/') Eric Cartman in Pure CSS (2012)] by Felipe Fialho (#[a(href='http://codepen.io/LFeh') @LFeh]) on #[a(href='http://codepen.io') CodePen].
      script(async='', src='//assets.codepen.io/assets/embed/ei.js')
