doctype
html(lang="en")

  != partial("_partials/head")

  body(class='page-#{ current.path[0] }')

    != partial("_partials/header")

    //-
    //- Main
    //- --------------------------------------------------

    main.main(role='main')
      != yield

