//-
//- Home
//- ==================================================

article.content(itemscope="" itemtype='http://schema.org/Person')
  .container

    p.lead Hey friend, how are you?

    p My name is #[em(itemprop='name') Luiz Felipe Tartarotti Fialho], I'm 26 years old and I work as #[strong(itemprop='jobTitle') Front-End Developer] since 2009.

    p Currently, I'm working at #[a(href='http://filtro.cc/' target='_blank' itemprop='affiliation') Filtro]. I'm a founder of #[a(href='http://www.meetup.com/CSS-SP/' target='_blank' itemprop='organizer') Meetup CSS] I helped in organization of #[a(href='http://cssconfbrasil.com.br/' target='_blank' itemprop='organizer') Conferência CSS Brasil 2015].

    p I have a lot of open-source projects, same #[a(href='http://cssconfbrasil.com.br/' target='_blank' itemprop='creator') CSS Components], #[a(href='http://www.felipefialho.com/piano/' target='_blank' itemprop='creator') Piano Keyboard], #[a(href='https://github.com/LFeh/coding-style' target='_blank' itemprop='creator') Coding Style] and #[a(href='https://github.com/LFeh/kratos-boilerplate' target='_blank' itemprop='creator') Kratos Boilerplate].


section.blog
  .container

    h2.blog-title Blog (Portuguese)

    each post, slug in public.blog._data

      a.blog-post(href='/blog/#{ slug }/' title='View the post')

        h1.title #{ post.title }
        p #{ post.description }
