if sitemap.enabled
  - var filter = /(\.html$)/;
  - var replace = /(\.html$)|(^index\.html$)/;

  mixin tree(head, tail)
    for val, key in head
      if key !== '.git' && key !== '_data'
        if key == '_contents'
          each file in val
            if filter.test(file) && !/^404\.html/.test(file)
              - file = file.replace(replace, "");
              url
                loc #{site_url}#{ tail + file }
                changefreq #{sitemap.changefreq}
        else
          mixin tree(val, tail + key + "/")

  doctype xml
  urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")
    mixin tree(public, "/")
