//
// Page - Labs
//
// ==================================================

.page-labs

  //
  // Animation
  // ==================================================

  .thumbnail__item
    animation toScale .6s both ease-in-out-quad




