//
// Page - Projects
//
// ==================================================

.page-projects

  //
  // Thumbnail
  // ==================================================

  .thumbnail__item
    animation toScale .6s both




