//
// Page - Projects
//
// ==================================================

.page-projects

  //
  // Animation
  // ==================================================

  .thumbnail__item
    animation toScale .6s both ease-in-out-quad




