//
// Page - Labs
//
// ==================================================

.page-labs

  //
  // Thumbnail
  // ==================================================

  .thumbnail-item
    animation toScale .6s both




