//
// Page - Blog
//
// ==================================================

.page-blog

  //
  // Animation
  // ==================================================

  .blog__post
    animation toScale .6s both ease-in-out-quad




