//
// Page - Projects
//
// ==================================================

.page-index

  //
  // Thumbnail
  // ==================================================

  .content
    animation toScale .6s both




