//
// PrismJS
//
// ==================================================

.language-css .token.string
.style .token.string
.token.entity
.token.operator
.token.url 
    background transparent !important
