p: a(href="/"): img.aside-profile-img.aside-img(src="http://placekitten.com/g/200/200")
p: strong Web Engineer &amp; Designer
p I live in Vancouver, Canada, where I build websites for startups and small 
p Twitter: 
  a(href="http://twitter.com/#{ twitter }") @#{ twitter }