#disqus_thread
script.
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//felipefialho.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();

script(id="dsq-count-scr" src="//felipefialho.disqus.com/count.js" async)
