footer
  .container
    .row
      .col-sm-6
        p: small &copy; 2013 #{ site_title }
      .col-sm-6
        p.pull-right
          small: a(href="/rss.xml", title="#{ site_title } RSS feed")
            img.rss-feed(src="/assets/images/feed-icon.png")
            |  RSS feed