//
// Main
// --------------------------------------------------
 
.main  
  padding $space-md $space
  max-width $screen-lg
  
  @media (min-width $screen-sm) 
    margin-left $navbar-width-sm
    padding-left  $space-md
    padding-right $space-md 
    
  @media (min-width $screen-md) 
    margin-left $navbar-width-md
      
  @media (min-width $screen-lg)
    padding-left  $space-lg
    padding-right $space-lg