//
// Navbar
// --------------------------------------------------

$navbar-width-sm = 230px
$navbar-width-md = 280px

.navbar 
  background $gray-darker
  font-family 'ostrich_sansblack'
  padding $space
  position relative
  
  @media (min-width $screen-sm)
    position fixed
    top     0
    left    0 
    bottom  0
    text-align center 
    width $navbar-width-sm
  
  @media (min-width $screen-md)
    width $navbar-width-md
  

  // Resets
  // --------------------------------------------------
    
  ul 
    @extends $list-unstyled
    
  a 
    color #fff
    
  // Photo
  // --------------------------------------------------
  
  .photo
    @extends $visible-sm   

    @media (min-width $screen-sm)
      margin-bottom $space-sm
      opacity 0.4
      transition opacity .3s 
    
  &:hover .photo 
    opacity 1
   
  h4 
    color $gray
  

// Nav Collapse
// -------------------------------------------------- 

.nav-collapse  
  @media (max-width $screen-xs-max)
    border-top $gray solid 1px 
    display none 
    margin-top $space-sm 

.collapse-open:checked ~ .nav-collapse 
  @media (max-width $screen-xs-max)
    display: block  
    

// Navbar Button
// -------------------------------------------------- 

.navbar-btn
  @extends $visible-xs 
  font-size 30px
  color #fff 
  position absolute
  top 25px
  right $space 
  

// Nav 
// -------------------------------------------------- 

.nav
  @media (min-width $screen-sm)
    border-bottom $gray solid 1px 
    border-top    $gray solid 1px
    margin-top $space 
    padding $space-sm 0

.nav-link 
  display block
  padding $space-sm 
  setfont($fontSize * 1.5)
  transition color .3s
  
  &:hover 
    color $gray
  
  @media (max-width $screen-xs-max)
    border-bottom: $gray solid 1px 

