//
// Buttons
//
// 1. Button
// 2. Link
//
// ==================================================

//
// 1. Button
// ==================================================

.btn
  form(reset) 
  font(p2, regular, secondary, lowercase)
  border 1px solid $brand-primary
  color $brand-primary
  display inline-block
  font-size 1.6rem
  overflow hidden
  padding $space
  position relative
  text-align center
  transition color .15s .15s

  &:after
    background $brand-primary
    content ''
    position absolute 0
    transform translateY(105%)
    transition transform .3s
    z-index -1

  &:hover
  &:focus
    color #fff

    &:after
      transform translateY(0)


//
// 2. Link
// ==================================================

.btn-link
  form(reset)
  font(p2, regular, secondary)
  color $brand-primary
  display inline-block
  transition color .2s

  &:hover
  &:focus
    text-decoration underline
