//
// Types
//
// 1. Links
// 2. Headings
// 3. Paragraph
// 4. Code
// 5. Blockquote
// 6. Date
// 7. HR
//
// ==================================================

//
// 1. Links
// ==================================================

a
  color inherit
  text-decoration none

  li &
  p &
    color $brand-primary

  li &:hover
  p &:hover
    text-decoration underline


//
// 2. Headings
// ==================================================
 
//
// 3. Paragraph
// ==================================================

p
  &:not(:last-child)
    margin-bottom $space-text 
  
//
// 4. Code
// ==================================================

pre 
  font(p1, 600, secondary)
  background rgba($gray-light, .2)
  display block
  padding $space-md
  max-width 100% 
  overflow-x auto
  
code
  display block

  p &
  li &
    background rgba($gray-light, .2)
    display inline
    padding $space-xs


//
// 5. Blockquote
// ==================================================

blockquote 
  position relative

  &:not(:first-child)
    margin-top ($space-lg + $space)

  &:not(:last-child)
    margin-bottom ($space-lg + $space)

  cite
    font(h2, regular, secondary)
    color $gray
    display block
    position relative
    margin-bottom $space-sm

    &:before
    &:after
      font-size 4.5rem
      position absolute
      margin-top  $space-xs

    &:before
      content '“'
      left -($space-md)

    &:after
      content '”'

  p
    font(p2, light)
    margin-top $space-sm

    &:before
        content '– '


//
// 6. Date
// ==================================================

.date
  font(h6, regular, secondary)
  color $gray
  display block
  margin-bottom $space-xs


//
// 7. HR
// ==================================================

hr
  reset(form)
  border-top rgba($gray, .3) solid 1px
  margin-top $space-xlg
  margin-bottom $space-xlg
