//
// Content
//
// ==================================================

.content
  lost-center ($screen-sm + (40px * 2)) $space-lg no-flex


  // Types
  // --------------------------------------------------

  h1, h2, h3, h4, h5, h6
    &:first-child
      margin-top 0

  > h1
    font(h1, regular, secondary)
    margin-bottom ($space-text / 2)


  > h2
    font(h2, bold, secondary)
    margin-top ($space-xlg + $space)
    margin-bottom ($space-text / 2)


  > h3
    font(h3, regular, secondary)
    color $gray
    margin-top $space-lg
    margin-bottom ($space-text / 2)


  > h4
    font(h4, bold, secondary)
    color $gray
    margin-top $space-lg
    margin-bottom ($space-text / 2)


  > h5
    font(h5, bold, secondary)
    color $gray
    margin-top $space
    margin-bottom ($space-text / 3)

  > h6
    font(h6, bold, secondary)
    color $gray
    margin-top $space


  > p 
    font(p1)

    &.lead
      font(h2)


  > ol
    font(p1)
    margin-top $space
    margin-bottom $space
    padding-left 2.5rem

    > li:not(:last-child)
      margin-bottom ($space-text / 2)


  > ul
    font(p1)
    margin-top $space
    margin-bottom $space
    padding-left 2.5rem

    > li:not(:last-child)
      margin-bottom ($space-text / 2)


  .date
    font(h5, light)


  img 
    display block 
    
