//
//  Social Media 
// ==================================================

.social-media
  reset(list)
  position relative
  top .4rem

  &__item
    display inline-block

    &:not(:last-child)
      margin-right $space-sm

  &__link
    effect(hover, $blue-light)
    color #fff

  .icon
    fill currentColor
