//  
// Functions
//
// 1. Set PX to REM () 
// 2. Set line-height and bold ()
// 3. Font face ()
//
// ===============================================================

//
// 1. Set PX to REM () 
// HTML font-size: 62.5%;
// -----------------------------------

pxtorem($prop, $value)
  {$prop} //unit($value, px)
  {$prop} unit(($value * 0.1), rem)
  

//
// 2. Set line-height and bold ()
// --------------------------------------------------

// font-size
fontSize($size = 14)
  pxtorem('font-size', $size)

// line-height
lineHeight($size = 20)
  pxtorem('line-height', $size)

setfont($font-size, $font-weight = "") 
  fontSize($font-size)
  
  if ($font-weight != "")
    font-weight $font-weight
  
  if ($font-size <= 30)
    lineHeight($font-size * 1.35)
  else if ($font-size > 30)
    lineHeight($font-size * 1.15)
  if ($font-size > 50)
    lineHeight($font-size * 1.05)
  

//
// 3. Font face ()
// --------------------------------------------------
 
font-url(file)
  return file
 
webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype'), 
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
    
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')