//
// Typography
// --------------------------------------------------
  
// Uppercase
// --------------------------------------------------

$uppercase 
  text-transform uppercase
  letter-spacing 1.2px
   
// Headings
// --------------------------------------------------

$h1 
  setfont($font-size * 2.5)
 

$h2 
  setfont($font-size * 2.2)
 

$h3 
  setfont($font-size * 1.8)
 

$h4 
  setfont($font-size * 1.4)
 

$h5 
  setfont($font-size)
 

$h6 
  setfont($font-size * 0.8)
  @extends $uppercase
 

// Paragraphs
// --------------------------------------------------

// Default
$p1
  setfont($font-size)
 

// Small
$p2 
  setfont($font-size * 0.8)
 
 