//
// Icon Font http://icomoon.io/app/
// --------------------------------------------------

 webfont('fialho', 'icons/fialho', true, 'normal')
 
[class^="icon-"], 
[class*=" icon-"]  
  font-family 'fialho' 
  speak none 
  font-style normal 
  font-weight normal 
  font-variant normal 
  text-transform none 
  line-height 1  
  -webkit-font-smoothing antialiased 
  -moz-osx-font-smoothing grayscale 


.icon-link:before  
  content "\e600" 

.icon-eye:before  
  content "\e601" 

.icon-happy:before  
  content "\e602" 

.icon-close:before  
  content "\e603" 

.icon-facebook:before  
  content "\e604" 

.icon-twitter:before  
  content "\e605" 

.icon-feed:before  
  content "\e606" 

.icon-github-2:before  
  content "\e607" 

.icon-linkedin:before  
  content "\e608" 

