//
// Social Media
// --------------------------------------------------
  
.social-media
  @extends $list-unstyled
  padding $space 0
  margin-top  0
  
  @media (min-width: $screen-sm)
    border-bottom $gray solid 1px
  
  li 
    display inline-block
    margin 0 $space-sm 
    
    @media (min-width: $screen-sm)
      margin 0 $space-xs 
    
    &:last-child 
      @extends $hidden
      
  a
    transition color .3s
    
    &:hover 
      color $gray
    