//
// Blog
//
// ==================================================

.blog
  lost-center $screen-sm $space-lg no-flex

  .content + &
    margin-top $space-xlg
    padding-top $space-lg


//
// Post
// ==================================================

.blog-link
  display block

  &:not(:last-child)
    margin-bottom $space-lg


.blog-post
  border $line solid 1px
  margin-left -($space-md)
  padding $space-md
  transition border .2s
  width 'calc(100% + %s)' % ($space-md * 2)

  &:hover
  &:focus
    border-color $brand-primary


  // Types
  // ----------------------------------------------------

  .title
    font(h3, regular, secondary)
    margin-bottom $space-sm

  .date
    font(h6, regular, secondary)
    color $gray
    display block
    margin-bottom $space-xs


  p
    font(p1, light)
