//
// Blog
//
// 1. Post
// 2. Article
//
// ==================================================

.blog
  lost-center $screen-sm $space-lg no-flex

  .content + &
    margin-top $space-xlg
    padding-top $space-lg


//
// 1. Post
// ==================================================

.blog-link
  display block

  &:not(:last-child)
    margin-bottom $space-lg


.blog-post
  border $line solid 1px
  margin-left -($space-md)
  padding $space-md
  transition border .2s
  width 'calc(100% + %s)' % ($space-md * 2)

  &:hover
  &:focus
    border-color $brand-primary


  // Types
  // ----------------------------------------------------

  .title
    font(h3, regular, secondary)
    margin-bottom $space-sm

  .date
    font(h6, regular, secondary)
    color $gray
    display block
    margin-bottom $space-xs


  p
    font(p1, light)


//
// 2. Article
// ==================================================

//
// Header
// ----------------------------------------------------

.blog-header
  align-items center
  background rgba($blue-light, .7)
  color #fff
  height 'calc(70vh - %s)' % $header-height
  lost-flex-container row
  overflow hidden
  position fixed $header-height 0 0

  &:before
    background rgba($gray-darker, .8)
    content ''
    position absolute 0
    z-index 2

  .picture
    position absolute 0
    z-index 1

    img
      filter: grayscale(100%)
      object-fit cover
      height 100%
      position absolute 0
      width 100%

  .content
    position relative
    z-index 3


//
// Inner
// ----------------------------------------------------

.blog-inner
  background #fff
  margin-top 'calc(70vh - %s)' % ($header-height * 2)
  padding-top $space-xlg
  padding-bottom $space-xlg
  position relative
  z-index 5

  .comments
    lost-center $screen-sm $space-lg no-flex
    margin-top $space-xlg


