//
// Header
//
// ==================================================

.header
  background $gray-darker
  padding-top $space
  padding-bottom $space

  +above('md')
    position fixed 0
    bottom auto

