//
// Header
//
// ==================================================

$header-height = 7rem

.header
  background rgba($gray-darker, .95)
  color #fff
  padding $space $space-lg
  position relative

  +above('sm')
    height $header-height
    position fixed 0 0 auto

.header-container
  align-items center
  lost-flex-container row
  justify-content space-between
