//
// Header
//
// ==================================================

.header
  background rgba($gray-darker, .95)
  color #fff
  padding $space $space-md
  position relative

  +above('sm')
    position fixed 0 0 auto

.header-container
  align-items center
  lost-flex-container row
  justify-content space-between
