//
// Page Header
// -------------------------------------------------- 

.page-header
  @extends $h1
  border-bottom alpha($text-color, 0.2) solid 1px  
  padding-bottom $space
  margin-bottom $space-md