//
// Scaffolding
// --------------------------------------------------

*  
  box-sizing border-box  
  
  &:before,
  &:after 
    box-sizing border-box 
  
  
html 
  font-size 62.5%
 

body 
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  setfont($fontSize)
  color $text-color
 
// Font Face
// --------------------------------------------------

 webfont('ostrich_sansblack', 'fonts/ostrich-black-webfont', true, 'normal')
 

// Images
// --------------------------------------------------
 
img 
  max-width 100%