//
// Types
//
// 1. Links
// 2. Headings
// 3. Paragraph
// 4. Code
//
// -------------------------------------------------- 

//
// 1. Links
// --------------------------------------------------

a 
  color $gold
  text-decoration none
  
  p &  
    text-decoration underline
    

//
// 2. Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 
  color $gray-darker
  font-weight normal
  margin 0
  

//
// 3. Paragraph
// --------------------------------------------------

p 
  margin 0 0 $space
  
  &:last-child
    margin-bottom 0 
    
  &.lead 
    font-size 120% 
    line-height 1.3  
     


//
// 4. Code
// --------------------------------------------------

code 
  background $gray-lighter 

pre
  code 
    color #000
    display block 
    line-height 1.5
    padding $space