//
//  Page-header
//
// ==================================================

.page-header
  hidden(sr)
  margin-bottom $space-lg
  padding-bottom $space
  position relative

  &:after
    border-bottom currentColor solid 1px
    content ''
    position absolute
    opacity .5
    top 100%
    left -($space-md)
    right -($space-md)


  // Types
  // ----------------------------------------------------

  .title
    font(h4, regular, secondary)
    color $gray

  p
    font(p2, regular, secondary)
    margin-top $space-sm

